# Introduction

Make sure my code matches his.

The sort order differs...

In [16]:
import pandas
import numpy

In [3]:
left = pandas.read_csv('paper_analysis_vdir/run10_e11.5_gene_FPKM_likelihood.tsv', sep='\t', index_col=0)
left.head()

,run_LR,like_non_run,like_run,like_tot,psmc_non_run,psmc_run,psmc_tot,tube_type,vchi,vadj
run_name,,,,,,,,,,
19908_C1,6.460294,-22283.500417,-288.411908,-22575.142472,0.54,1.00,0.54,single,0.011031,0.849398
19909_D8,6.337923,-22274.546228,-297.427282,-22575.142472,0.53,1.00,0.54,single,0.011818,0.910011
19911_F3,5.915433,-22279.737639,-292.447117,-22575.142472,0.54,1.00,0.54,single,0.015009,1.000000
19906_A5,4.710747,-22255.868051,-316.919047,-22575.142472,0.54,0.19,0.54,single,0.029975,1.000000
19909_D10,4.554527,-22280.002906,-292.862302,-22575.142472,0.54,0.32,0.54,single,0.032832,1.000000

In [6]:
right = pandas.read_csv('paper_analysis_vdir/ken_run10_e11.5_gene_FPKM_likelihood.csv', index_col=1)
right.head()

,cell_type,like_excluded,like_run,like_combined,p_excluded,p_run,p_combined,chi
run,,,,,,,,
19908_C1,run10_e11.5,-22283.50,-288.41,-22575.14,0.54,1.00,0.54,6.46
19909_D8,run10_e11.5,-22274.55,-297.43,-22575.14,0.53,1.00,0.54,6.32
19911_F3,run10_e11.5,-22279.74,-292.45,-22575.14,0.54,1.00,0.54,5.90
19906_A5,run10_e11.5,-22255.87,-316.92,-22575.14,0.54,0.19,0.54,4.70
19909_D10,run10_e11.5,-22280.00,-292.86,-22575.14,0.54,0.32,0.54,4.56

In [20]:
left_psmcrun = left['psmc_run'].to_dict()
right_psmcrun = right['p_run'].to_dict()
for k in left_psmcrun:
    if not numpy.allclose(left_psmcrun[k], right_psmcrun[k]):
        print(k, "{:.2}".format(left_psmcrun[k]), "{:.2}".format(right_psmcrun[k]))

In [22]:
left_likerun = left['like_run'].to_dict()
right_likerun = right['like_run'].to_dict()
for k in left_likerun:
    if not numpy.allclose(left_likerun[k], right_likerun[k]):
        print(k, left_likerun[k], right_likerun[k])

19909_D4 -283.59556822549837 -283.6
19907_B4 -291.56459278843363 -291.56
19910_E7 -293.6064619856681 -293.61
19907_B11 -288.23300161326733 -288.23
19910_E9 -293.95598550607406 -293.96
19906_A2 -295.0450691746176 -295.05
19906_A11 -286.6651261131992 -286.67
19906_A9 -290.91700919534117 -290.92
19908_C10 -291.2137315882453 -291.21
19907_B7 -287.2371217066501 -287.24
19911_F4 -287.7968967643137 -287.8
19906_A4 -289.8648738212794 -289.86
19912_G4 -288.8652525586612 -288.87
19907_B8 -300.72307137691337 -300.72
19912_G1 -295.2364502392792 -295.24
19910_E2 -300.1259204610625 -300.13
19909_D12 -302.29594032470885 -302.3
19909_D5 -285.20635129395805 -285.21
19910_E10 -295.8061682982696 -295.81
19909_D2 -287.2431387711317 -287.24
19907_B5 -297.17594766831365 -297.18
19907_B10 -296.6830240688523 -296.68
19911_F2 -286.3248011456284 -286.32
19910_E1 -289.99432932892967 -289.99
19909_D11 -290.18392559541263 -290.18
19906_A10 -290.18392559541263 -290.18
19907_B12 -290.0043598350138 -290.0
19906_A8 -288.1735252295623 -288.17

In [ ]:
panda