# Introduction

Peng was having trouble trying to match up candidate regulatory elements.

This turned out to be very difficult for me due to UCSC liftover's failure to retain bedfile information. 
I'm attaching the input files here and cc'ing Diane in case she knows how to get intersection lists with "metadata" there.

Files include:

1. our lists of candidate enhancers
    1. 0.4 threshold using mm10 coordinates:    limbcCRE0.4.bed
    2. 0.2 threshold using mm10 coordinates:    limbcCRE0.2.bed
2. ENCODE vista lists of selected enhancers
    1.  mouse elements using mm9 coordinates:   VISTA_2974_elements_.........Mouse_..... 
    2.  Human elements using hg19 coordinates:  VISTA_2964_elements_.........Human_....

So altogether five files.
This might work:
Before doing intersect, you need to liftover the coordinates to mm10. i.e. Mouse mm9 -> Mouse mm10 for file 2.1 and Human hg19 -> Mouse mm10 for file 2.2

After lifting over, join the lifted file with the original file to add back the "metadata" for each element

Then use sort the bed files and use intersectBed to get the intersected elements.

Then based on the metadata for each element you can grep out the negtive, positive, others etc or crosstabulate in anyway you like.

Please let me know whether this makes sense Diane?

In [1]:
ls enhancer_matches/

Diane_VISTA_liftover_to_mm10_July18_2019.tsv
ExtTable9.txt.bed
limbcCRE0.2.bed
limbcCRE0.4.bed
VISTA_2974_elements_July3_2019.Human_hg19.bed
VISTA_2974_elements_July3_2019.Mouse_mm9.bed

In [2]:
import pandas

In [10]:
ext_table = pandas.read_csv(
    'enhancer_matches/ExtTable9.txt.bed', 
    names=['chromsome', 'start', 'end', 'name'],
    sep='\t', 
    header=None)
print(ext_table.shape)
ext_table.head()

(151, 4)

,chromsome,start,end,name
0,chr2,25124845,25128090,chr2_25124845_25128090_mm1454_Ext9amidbrain_mi...
1,chr12,109946504,109950294,chr12_109946504_109950294_mm1456_Ext9amidbrain...
2,chr18,38378941,38381638,chr18_38378941_38381638_mm1457_Ext9amidbrain_o...
3,chr8,93916782,93919741,chr8_93916782_93919741_mm1458_Ext9amidbrain_mi...
4,chr3,65973873,65976364,chr3_65973873_65976364_mm1459_Ext9amidbrain_ne...

In [9]:
vista_human = pandas.read_csv(
    'enhancer_matches/VISTA_2974_elements_July3_2019.Human_hg19.bed', 
    names=['chromsome', 'start', 'end', 'name'],                
    sep='\t', 
    header=None).head()
print(vista_human.shape)
vista_human.head()

(5, 4)

,chromsome,start,end,name
0,chr16,86430087,86430726,_Human_chr16:86430087-86430726___element_1___p...
1,chr16,85620095,85621736,_Human_chr16:85620095-85621736___element_2___n...
2,chr16,80423343,80424652,_Human_chr16:80423343-80424652___element_3___n...
3,chr16,80372593,80373755,_Human_chr16:80372593-80373755___element_4___p...
4,chr16,79969907,79971297,_Human_chr16:79969907-79971297___element_5___n...

In [12]:
!wc -l enhancer_matches/VISTA_2974_elements_July3_2019.Human_hg19.bed

1912 enhancer_matches/VISTA_2974_elements_July3_2019.Human_hg19.bed